<a class="hamburger menu" #menu>
  <span></span>
  <span></span>
  <span></span>
</a>
<div  *ngIf="!changeMenu" class="mobile-menu " #mobile_menu>
  <a routerLink="/home"> Home</a>
  <a routerLink="/settings" (click)="onChangeHamburger()"> Settings</a>
  <div class="deconnexion">
    <a (click)="onSignOut()" routerLink="/auth/signin" class="logout"> <img class="hide-mobile"
        src="../assets/Images/Vector_power.svg" alt="Se Déconnecter"></a>
  </div>

</div>

<div  *ngIf="changeMenu==true" class="mobile-menu " #mobile_menu2>
  <a routerLink="/settings"> User profile</a>
  <a routerLink="/settings"> Add skills</a>
  <a routerLink="/settings"> Add experience</a>
  <a routerLink="/settings" (click)="onSetVariable()">
    retour</a>
      <div class="deconnexion">
        <a (click)="onSignOut()" routerLink="/auth/signin" class="logout"> <img class="hide-mobile"
            src="../assets/Images/Vector_power.svg" alt="Se Déconnecter"></a>
      </div>
</div>

