<a class="hamburger menu" #menu>
  <span></span>
  <span></span>
  <span></span>
</a>
<div class="mobile-menu " #mobile_menu>
  <a routerLink="/home"> Home</a>

  <a   #openSidebarBtn>
    <span>Settings</span>
    <img (click)="openSidebar()" routerLink="/settings" class="resizeImage" src="../assets/Images/VectorFleche.svg" alt="chevron-down">
  </a>
  <div class="deconnexion">
    <a (click)="onSignOut()" routerLink="/auth/signin" class="logout"> <img class="hide-mobile"
        src="../assets/Images/Vector_power.svg" alt="Se Déconnecter"></a>
  </div>


</div>

<div class="sidebar" #sidebar >
  <a href="javascript:void(0)" class="closebtn" (click)="closeSidebar()">&larr;</a>



  <a routerLink="/settings"> User profile</a>
  <a [routerLink]='"settings"' [fragment]="ids[1]"> Add skills</a>
  <a [routerLink]='"settings"' [fragment]="ids[2]"> Add experience</a>

</div>







