<a class="hamburger menu" #menu>
  <span></span>
  <span></span>
  <span></span>
</a>
<div class="mobile-menu " #mobile_menu>
  <a routerLink="/home"> Home</a>

  <a  routerLink="/settings"  >
    <span>Settings</span>
  <!-- <img  class="resizeImage" src="../assets/Images/VectorFleche.svg" alt="chevron-down">-->
</a>
  <div class="deconnexion">
    <a (click)="onSignOut()" routerLink="/auth/signin" class="logout"> <img class="hide-mobile"
        src="../assets/Images/Vector_power.svg" alt="Se Déconnecter"></a>
  </div>


</div>









