.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  max-width: 300px;
  overflow-x: hidden;
  padding: 60px 0 24px 0;
  color: #65B79F;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: .5s;
  z-index: 5;
}

.mobile-menu a {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  font-size: .95rem;
  min-width: max-content;
}

.mobile-menu a *:first-child {
  margin-right: 0.2rem;
}


a {
  text-decoration: none;
  color: inherit;
}

.menu {
  position: relative;
  z-index: 10;
}

.menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #65B79F;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
    
}

.menu span:not(:last-child) {
  margin-bottom: 5px;
}

.menu.open span:first-child {
  transform: rotate(45deg);
}

.menu.open span:nth-child(2) {
  opacity: 0;
}

.menu.open span:last-child {
  transform: rotate(-45deg);
}
