<div class="container">

  <div class="skillContainer">
    <h2>Dashboard </h2>
    <div class="comming-soon">
      <h5> <a routerLink="/setting" (click)="updateUserColor()" [style.color]="colorU"
          [style.fontWeight]="fontWeightU">User profile</a> </h5>
      <h5><a routerLink="/setting/experience" (click)="updateExperienceColor()" [style.color]="colorE"
          [style.fontWeight]="fontWeightE">Add experiences</a></h5>
      <h5><a routerLink="/setting/skill" (click)="updateSkillColor()" [style.color]="colorS"
          [style.fontWeight]="fontWeightS">Add skill</a></h5>
    </div>
  </div>
  <!--For desktop only-->
  <div class="skillContainer2 settingSidebar">
    <h2>Dashboard </h2>
    <div class="comming-soon">
      <h5> <a routerLink="/setting" (click)="updateUserColor()" [style.color]="colorU"
          [style.fontWeight]="fontWeightU">User profile</a> </h5>
      <h5><a routerLink="/setting/experience" (click)="updateExperienceColor()" [style.color]="colorE"
          [style.fontWeight]="fontWeightE">Add experiences</a></h5>
      <h5><a routerLink="/setting/skill" (click)="updateSkillColor()" [style.color]="colorS"
          [style.fontWeight]="fontWeightS">Add skill</a></h5>
    </div>
  </div>

  <div class="mainContainer">
    <div class="mainclass">

          <div class="bigCard">
            <div class="smallCard">
              <div class="pictureAndWorkstation">
                <img class="roundedImageEntreprise" src="../assets/Images/enterpri 1.png" alt="Photo de profil">
                <div class="fixWorkstation">
                  <div class="workstation">
                    <span class="bigTitle">DevelopperCompany</span>
                    <span class="mediumTitle">Frontend Developper & UI Design</span>
                    <span class="smallTitle">Juin 2019 -Septembre 2020</span>
                  </div>
                </div>
              </div>
              <img class="resizeImage" src="../assets/Images/VectorFleche.svg" alt="Voir Plus">
            </div>
            <div class="description">
              Lorem ipsum dolot, consectetur adipiscing elit. set Diam amet, nulla mi ultricies pellentesque lo nhjfdshhjhhfh
              bortis.
              Nisl hac adipiscing adipiscing facilisi at net heh le defi galiquam. Libero posuere tempus, orci ante pulvinar
              viverra
              eget. Pellentesque in congue at semper.
            </div>

            <div class="rail">
              <div class="smallCardForAction">
                <span class="smartTitle">Coder une application de fast food</span>
                <p class="smallDescription">Lorem ipsum dolor sit ametje suis en plein je paeeee , consectetur adipiscing elit. tu
                  as</p>
                <div class="challengeAndVector">
                  <div class="challenge">
                    <span class="challengeText">Challenge</span>
                    <img class="resizeImg" src="../assets/Images/staricon.svg" alt="">
                  </div>
                  <!--
                  <img class="resizeImage1" src="../assets/Images/VectorFleche.svg" alt="">
                    -->
                </div>
              </div>
            </div>
          </div>
                <!--
          <div class="smallCard1">
            <div class="pictureAndWorkstation">
              <img class="roundedImageEntreprise" src="../assets/Images/brand 1.png" alt="Photo de profil">
              <div class="workstation">
                <span class="bigTitle">DesignerCompany</span>
                <span class="mediumTitle">UX & UI Design</span>
                <span class="smallTitle">Mai 2016 -Novembre 2018</span>
              </div>

            </div>
            <img class="resizeImage" src="../assets/Images/VectorFleche.svg" alt="Voir Plus">
          </div>
          -->

    </div>

    <div class="smallCardAdd">
      <h3><span class="setOnlyLabelName"> Add experience </span></h3>
      <form >
                      <div >
                        <label for="email"><span class="setOnlyLabelName"> Number of stars (between 1 and 5): </span>
                        </label>
                        <input type="number" id="quantity" name="quantity" min="1" max="5">
                      </div>
                          <div class="verySmallSpacer"></div>
                      <div class="fixWidthOfInputAndTextarea" >
                        <label for="email"><span class="setOnlyLabelName"> Date:</span>
                        </label>
                        <input type="date" id="datemax" name="datemax" max="1979-12-31">
                        <span class="setOnlyLabelName"> - </span>
                        <input type="date" id="datemin" name="datemin" min="2000-01-02">
                      </div>
                      <div class="verySmallSpacer"></div>
                        <div class="fixWidthOfInputAndTextarea" >
                        <label for="email"><span class="setOnlyLabelName"> Action name : </span>
                        </label>
                        <input type="text" formControlName="email" name="email" >
                      </div>
                      <div class="verySmallSpacer"></div>
                        <div class="fixWidthOfInputAndTextarea" >
                        <label for="email"><span class="setOnlyLabelName">Company name:</span>
                        </label>
                        <input type="text" formControlName="email" name="email" >
                      </div>
                      <div class="verySmallSpacer"></div>
                      <div class="fixWidthOfInputAndTextarea" >
                        <label for="email"><span class="setOnlyLabelName"> Workspace : </span>
                        </label>
                        <input type="text" formControlName="email" name="email" >
                      </div>

                      <div class="verySmallSpacer"></div>

                      <div class="labelOnTextarea" >
                        <label for="email"><span class="setOnlyLabelName"> Description of an action </span>
                        </label>
                        <textarea type="text" formControlName="email" name="email" >
                        </textarea>
                      </div>
                      <div class="verySmallSpacer"></div>
                      <div class="labelOnTextarea" >
                        <label for="email"><span class="setOnlyLabelName"> Description of an experience </span>
                        </label>
                        <textarea type="text" formControlName="email" name="email" >
                        </textarea>
                      </div>


      </form>
      </div>
          <div class="fixInCenterButton">
            <button>
              <div type="submit" class="addButton">
                Add
              </div>
            </button>
            <button>
              <div type="submit" class="saveButton">
                Saves changes
              </div>
            </button>
          </div>
   </div>



</div>
