.container {
  padding: .7rem .7em;
}

.cardContainer {
  margin: 0rem;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.deconnexion {
  margin-right: 0em;
}

.bigTitle {
  font-weight: bold;
  //font-size: 18px;
  color: #6B7588;
  margin: 0 0 .2em 0;
}

.mediumTitle {
  font-weight: bold;
  font-size: 12px;
  color: #6B7588;
  margin: 0 0 .2em 0;
}

.smallTitle {
  color: #6B7588;
  font-size: 12px;
  padding: 0em;
  margin: .2em 0 0 0;
}

.roundedImage {
  border-radius: 50%;
  width: 1.875em;
  height: 1.875em;

}

.roundedImageEntreprise {

  width: 2.5em;
  height: 2.5em;
  padding: 2.7em 0em 2.3em 1.25em;
}

.challengeText {
  font-size: 14px;
  font-weight: bold;
  color: #6B7588;
  padding: 0px;
}
.mainclass {

  display: block;
  /*
  text-align: center;
*/
}

.mainContainer {
  border: 1px solid rgba(35, 36, 37, 0.19);
  margin: 0;
  padding: .7rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;

}

.bigCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #6B7588;
  border-radius: 8px;
  background: #fff;
  //box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  margin-bottom: 0px 0px 20px 0px;
  width: 100%;
  border: 1px solid #65B79F;
}
.challenge {
  padding-left: 20px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}
.resizeImg {
  height: .6rem;

}
.challengeAndVector {
  /*
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  */
  margin: 0;
  padding: 0;
  text-align: center;
}

.smallCardForAction {
  background: #FFFFFF;
  border: 1px solid #65B79F;
  //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 0 0 1em 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.showCursor{
  cursor:pointer;
}

h2 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
  margin: .7rem;
}

.skillContainer {
  text-align: center;
  color: #6B7588;
}

.skillContainer2 {
  display: none;
}

.comming-soon {

  padding: 0.625rem 0.5rem 0.625rem 0rem;

  line-height: initial;
  border-radius: 0.25rem;
  max-width: 60ch;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.comming-soon h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: .9rem;
}

.comming-soon h5 {
  display: block;
  width: fit-content;
  margin: 0.2rem .5rem 0.2rem 0rem;
  background-color: #65B79F;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
  color: #FFFFFF;
  text-align: center;
}

 .smartTitle {
   font-size: 13px;
   padding: 20px 20px 10px 20px;
   font-weight: bold;
   color: #6B7588;
   text-align: left;
   margin: 0;
 }

 .smallDescription {
   text-align: justify;
   padding: 0px 20px;
   font-size: 12px;
   margin: 0 0 10px 0;
 }

 .rail {
   margin-left: 1.1em;
   margin-right: 1.1em;
 }

 .description {
   padding: 20px;
   font-size: 12px;
   text-align: justify;
 }

 .resizeImage {
   width: 12px;
   height: 12px;
   padding: 3.8em 1.25em 3.8em 0em;
 }

 .resizeImage1 {
   width: 12px;
   height: 12px;
   padding: 14px 20px 18px 20px;
 }

 .fixUsername {
   padding: 6px 0px 6px 8px;
   font-weight: bold;
   color: #6B7588;
 }

 .pictureAndWorkstation {
   display: flex;
   flex-wrap: nowrap;
 }

 .smallCard {
   background: #FFFFFF;

   box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.26);
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   text-align: center;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

 }
  h3 {
    text-align: center;
    margin: 1.3rem 0;
  }
 .smallCardAdd {
   background: #FFFFFF;
   //border: 1px solid rgba(35, 36, 37, 0.19);
   //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
   border-radius: 8px;
   margin: 1rem 0rem;
   //text-align: left;
   //width: 100%;
  // display: flex;
   border: 1px solid #65B79F;
  /* flex-direction: row;
   justify-content: space-between;
  */
  padding: .8rem;
 }
 .verySmallSpacer {
   margin-bottom:.8rem;
 }
 .smallCard1 {
   background: #FFFFFF;
   //border: 1px solid rgba(35, 36, 37, 0.19);
   //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
   border-radius: 8px;
   margin: 1rem 0rem;
   //text-align: left;
   width: 100%;
   display: flex;
  border: 1px solid #65B79F;
   flex-direction: row;
   justify-content: space-between;

 }
.saveButton {
  cursor: pointer;
  background: #65B79F;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;

  font-weight: bold;
}
.fixInCenterButton {
  display: block;
  text-align: center;
}
button {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}
.addButton {
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color:#65B79F ;
  padding: 4px;
  width: 50px;
  margin: .8rem;
  font-weight: bold;
  border-color: 0;
}
 .workstation {
   display: flex;
   flex-direction: column;
   padding: 2.2rem 0rem 2.2rem .9rem;
   text-align: left;
 }

 a {
   text-decoration: #FFFFFF;
   color: #FFFFFF;
 }
input[type="text"] {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  width: 100%;
  flex: 50%;

}
input[type="number"] {
  font-size: 1.1em;
  margin-left: .2rem ;
  border : 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  width: 1.5rem;
}
input[type="date"] {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  color: #65B79F;
  margin-left: .2rem;
 width: 100%;
 flex: 50%;
}
 label span {
   font-size: .7rem;
 }
.fixWidthOfInputAndTextarea {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

textarea {
  border-color: #65B79F;
}
.labelOnTextarea {
  display: flex;
  flex-direction: column;
  color: #65B79F;
}

.setOnlyLabelName {
  color : #65B79F;
}

@media only screen and (min-width: 501px) {


  .container {
    padding: 2rem 2rem;
  }


  h2 {
    font-size: 20px;
    text-align: left;
  }

  h5 {
    font-size: 16px;
    margin: .7rem .7rem .7rem 0rem;
  }



  form {
    margin: 0 0 2rem 0;
  }

  .mainContainer {
    padding: 1rem 4rem 4rem 4rem;
  }
}


@media only screen and (min-width: 750px) {
  .container {
    padding: 3rem 3rem;
  }


  h2 {
    font-size: 20px;
    text-align: left;
  }

  h5 {
    font-size: 16px;
    margin: .7rem .7rem .7rem 0rem;
  }

  .spacer {
    margin-bottom: 3.5rem;
  }

  .mainContainer {

    padding: 1rem 8rem 8rem 8rem;
  }
}

@media only screen and (min-width: 951px) {
  .container {
    padding: 5rem 5rem;
  }

  .mainContainer {
    padding: 1rem 10rem 10rem 10rem;
  }



  h2 {
    font-size: 2rem;
    text-align: left;
  }

  h5 {
    font-size: 1.2rem;
    margin: .7rem;
  }
}

@media only screen and (min-width: 1101px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .settingSidebar {
    border: 1px solid rgba(35, 36, 37, 0.19);
    margin: 0 .9rem 0 0;
    padding: .9rem 2rem 2rem 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
    border-radius: 5px;

  }

  .container {
    padding: 3.5rem 3.5rem;
    display: flex;
  }

  .mainContainer {
    padding: 1rem 3rem 10rem 3rem;
    width: 100%;
  }

  .skillContainer2 {
    display: block;
    text-align: left;
    color: #6B7588;
    flex: 33%;
  }


  .skillContainer {
    display: none;
  }

  h2 {
    margin: 0 0 1.5rem 0;
    text-align: left;
  }

  .comming-soon h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }

  h2 {
    margin: 0 0 1.5rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }

  .comming-soon {
    display: block;
  }
}


@media only screen and (min-width: 1281px) {
  .mainContainer {
    padding: 1rem 6rem 10rem 6rem;
    width: 100%;
  }


}

@media only screen and (min-width: 1351px) {


  .mainContainer {
    padding: 1rem 8rem 10rem 8rem;
    width: 100%;
  }



}
