.hide-desktop {
  display: none;
}
 .show-mobile {
padding: 0;
 }
.logo {
  color: #65B79F;
  font-size: large;
  font-weight: bold;
  cursor:pointer;
  padding:0px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: inherit;
}
.logout{
  cursor:pointer;
}

.showCursor{
  cursor: pointer;
}
.header {

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;


}
.header2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}

.headerContent {
  padding: 12px 10px 12px 10px;
}

.headerContent2 {
  padding: 12px 10px 12px 10px;
}

@media only screen and (min-width: 501px) {

  .header2 {
    height: 50px;
  }

  .headerContent {
    padding: 12px 2rem 12px 2rem;

  }

  .logo {
    padding: 0;
  }

}

@media only screen and (min-width: 751px) {

  .header2 {
    height: 50px;

  }
  .headerContent {
    padding: 12px 3rem 12px 3rem;

  }
 .logo {
   padding: 0;
 }


}

@media only screen and (min-width: 951px){
  .headerContent2 {
    padding: 12px 70px 12px 70px;

  }
  .headerContent {
    padding: 12px 5rem 12px 5rem;

  }

  .logo {
    padding: 0;
  }
   .header2 {
     padding: 12px 0px 12px 0px;
   }
}

@media only screen and (min-width: 1101px) {
  .headerContent2 {
    padding: 12px 100px 12px 100px;
  }
  .hide-desktop {
    display: block;
  }
  .logo {
    padding:0;
    flex:31.5%;
  }
  .navbar {
    flex: 75%;
  }
  .hide-mobile {
    display: none;
  }

  .header2 {
    padding: 12px 0px 12px 0px;
  }
  .header {
    padding: 12px 0px 12px 0px;
  }
  .headerContent {
    padding: 12px 2rem 12px 2rem;
    display: flex;
  }
}
@media only screen and (min-width: 1281px) {
  .headerContent2 {
    padding: 12px 125px 12px 125px;
  }
  .logo {
    padding: 0;
    flex: 28.6%;
  }

  .navbar {
    flex: 75%;
  }
  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header2 {
    padding: 12px 0px 12px 0px;
  }
  .header {
    padding: 12px 0px 12px 0px;
  }

  .headerContent {
    padding: 12px 5rem 12px 5rem;
    display: flex;
  }
}

@media only screen and (min-width: 1351px) {
  .headerContent2 {
    padding: 12px 200px 12px 200px;
  }

   .logo {
     padding: 0;
     flex: 28.6%;
   }

   .navbar {
     flex: 75%;
   }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header2 {
    padding: 12px 0px 12px 0px;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }

  .headerContent {
    padding: 12px 5rem 12px 5rem;
    display: flex;
  }
}
/*

@media only screen and (min-width: 501px) {
  .container {
    padding: 2rem 2rem;
  }

  .bigTitle {
    font-size: 20px;
  }

  .mediumTitle {
    font-size: 14px;
  }

  .smallTitle {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;

  }

}

@media only screen and (min-width: 750px) {
  .container {
    padding: 3rem 3rem;
  }

  .bigTitle {
    font-size: 20px;
  }

  .mediumTitle {
    font-size: 14px;
  }

  .smallTitle {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;

  }
}

@media only screen and (min-width: 951px) {
  .container {
    padding: 5rem 5rem;
  }

  .bigTitle {
    font-size: 20px;
  }

  .mediumTitle {
    font-size: 14px;
  }

  .smallTitle {
    font-size: 14px;
  }

  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;

  }
}
@media only screen and (min-width: 1101px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 5rem 5rem;
    display: flex;
  }

  .skillContainer {
    text-align: center;
    color: #6B7588;
    flex: 75%;
  }

  .Profile2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 1.9rem;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .Profile {
    display: none;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  h2 {
    margin: 0 0 2.5rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }
}


@media only screen and (min-width: 1281px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 5rem 5rem;
    display: flex;
  }

  .skillContainer {
    text-align: center;
    color: #6B7588;
    flex: 60%;
  }

  .Profile2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 1.9rem;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .Profile {
    display: none;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  h2 {
    margin: 0 0 2.5rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1351px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 5rem 5rem;
    display: flex;
  }

  .skillContainer {
    text-align: center;
    color: #6B7588;
    flex: 50%;
  }

  .Profile2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .Profile {
    display: none;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  h2 {
    margin: 0 0 2rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }
}

*/
