<div class="header">
  <div routerLinkActive="active" class="headerContent">

    <div class="navbar">

      <span routerLink="home" class="logo">Preferral</span>
      <div class="hide-desktop">
        <span class="showCursor"  *ngIf="isAuth" routerLink="home">Home</span>
      </div>
      <div class="hide-desktop">
        <span class="hide-desktop showCursor" *ngIf="isAuth" routerLink="setting">Setting</span>
      </div>
      <div  *ngIf="isAuth" (click)="onSignOut()" routerLink="auth/signin" class="logout">
        <img class="hide-desktop" src="../assets/Images/Vector_power.svg" alt="Se Déconnecter">
      </div>
      <div *ngIf="isAuth" class="show-mobile hide-mobile">
        <!--
            <a class="hamburger menu  " id="menu">
            <span></span>
            <span></span>
            <span></span>
          </a>
        -->
        <button class="hamburger hamburger--spin" 
        type="button"
                  appHamburgertoggle>
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      
      </div>
    </div>
  </div>
  
</div>

