.hide-desktop {
  display: none;
}
 .show-mobile {
padding: 0;
 }
.logo {
  color: #65B79F;
  font-size: large;
  font-weight: bold;
  cursor:pointer;
  padding:0px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  max-width: 300px;
  overflow-x: hidden;
  padding: 100px 0 40px 0;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: .5s;
  z-index: 5;
}

.mobile-menu a {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  font-size: .95rem;
  min-width: max-content;
}

.mobile-menu a *:first-child {
  margin-right: 0.2rem;
}


a {
  text-decoration: none;
  color: inherit;
}
.menu {
  position: relative;
  z-index: 10;
}
.menu span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #65B79F;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}

.menu span:not(:last-child) {
  margin-bottom: 5px;
}

.menu.open span:first-child {
  transform: rotate(45deg);
}

.menu.open span:nth-child(2) {
  opacity: 0;
}

.menu.open span:last-child {
  transform: rotate(-45deg);
}



.logout{
  cursor:pointer;
}

.showCursor{
  cursor: pointer;
}
.header {

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  

}

.headerContent {
  padding: 12px 10px 12px 10px;
}


@media only screen and (min-width: 501px) {

  .header {
    height: 50px;
  }

  .headerContent {
    padding: 12px 50px 12px 50px;
  }

  .logo {
    padding: 0;
  }

}

@media only screen and (min-width: 751px) {

  .header {
    height: 50px;

  }
  .headerContent {
    padding: 12px 50px 12px 50px;
  }
 .logo {
   padding: 0;
 }
 .hide-desktop {
   display:block;
 }
 .hide-mobile {
   display: none;
 }

}

@media only screen and (min-width: 951px){
  .headerContent {
    padding: 12px 70px 12px 70px;

  }
  .hide-desktop {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .logo {
    padding: 0;
  }
   .header {
     padding: 12px 0px 12px 0px;
   }
}

@media only screen and (min-width: 1101px) {
  .headerContent {
    padding: 12px 100px 12px 100px;
  }
  .hide-desktop {
    display: block;
  }
  .logo {
    padding:0;
  }
  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }
}
@media only screen and (min-width: 1281px) {
  .headerContent {
    padding: 12px 125px 12px 125px;
  }
  .logo {
    padding:0;
  }
  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }
}