.hide-desktop {
  display: none;
}
 .show-mobile {
padding: 0;
 }
.logo {
  color: #65B79F;
  font-size: large;
  font-weight: bold;
  cursor:pointer;
  padding:0px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout{
  cursor:pointer;
}

.showCursor{
  cursor: pointer;
}
.header {

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  

}
.header2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}

.headerContent {
  padding: 12px 10px 12px 10px;
}


@media only screen and (min-width: 501px) {

  .header {
    height: 50px;
  }

  .headerContent {
    padding: 12px 50px 12px 50px;
  }

  .logo {
    padding: 0;
  }

}

@media only screen and (min-width: 751px) {

  .header {
    height: 50px;

  }
  .headerContent {
    padding: 12px 50px 12px 50px;
  }
 .logo {
   padding: 0;
 }
 .hide-desktop {
   display:block;
 }
 .hide-mobile {
   display: none;
 }

}

@media only screen and (min-width: 951px){
  .headerContent {
    padding: 12px 70px 12px 70px;

  }
  .hide-desktop {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  .logo {
    padding: 0;
  }
   .header {
     padding: 12px 0px 12px 0px;
   }
}

@media only screen and (min-width: 1101px) {
  .headerContent {
    padding: 12px 100px 12px 100px;
  }
  .hide-desktop {
    display: block;
  }
  .logo {
    padding:0;
  }
  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }
}
@media only screen and (min-width: 1281px) {
  .headerContent {
    padding: 12px 125px 12px 125px;
  }
  .logo {
    padding:0;
  }
  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }
}