.hide-desktop {
  display: none;
}
 .show-mobile {
padding: 0;
 }
.logo {
  color: #65B79F;
  font-size: large;
  font-weight: bold;
  cursor:pointer;
  padding:0px;
}
.logo a {
  color: #65B79F;
}
.changeToBold {
  font-weight: bold;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout {
  cursor:pointer;
}

.showCursor{
  cursor: pointer;
}
.header {

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index:10;

}
.header2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}

.headerContent {
  padding: 12px 10px 12px 10px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.headerContent2 {
  padding: 12px 10px 12px 10px;


}

@media only screen and (min-width: 501px) {

  .header2 {
    height: 50px;
  }

  .headerContent {
    padding: 12px 2rem 12px 2rem;

  }

  .logo {
    padding: 0;
  }

}

@media only screen and (min-width: 751px) {

  .header2 {
    height: 50px;

  }
  .headerContent {
    padding: 12px 3rem 12px 3rem;

  }
 .logo {
   padding: 0;
 }


}

@media only screen and (min-width: 951px){
  .headerContent2 {
    padding: 12px 70px 12px 70px;

  }
  .headerContent {
    padding: 12px 5rem 12px 5rem;

  }

  .logo {
    padding: 0;
  }
   .header2 {
     padding: 12px 0px 12px 0px;
   }
}

@media only screen and (min-width: 1101px) {
  .headerContent2 {
    padding: 12px 100px 12px 100px;
  }
  .hide-desktop {
    display: block;
  }
  .logo {
    padding:0;
    flex:30.1%;
  }
  .navbar {
    flex: 75%;
  }
  .hide-mobile {
    display: none;
  }

  .header2 {
    padding: 12px 0px 12px 0px;
  }
  .header {
    padding: 12px 0px 12px 0px;
  }
  .headerContent {
    padding: 12px 5rem 12px 5rem;
    display: flex;
  }
}
@media only screen and (min-width: 1281px) {
  .headerContent2 {
    padding: 12px 125px 12px 125px;
  }
  .logo {
    padding: 0;
    flex: 28.6%;
  }

  .navbar {
    flex: 75%;
  }
  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header2 {
    padding: 12px 0px 12px 0px;
  }
  .header {
    padding: 12px 0px 12px 0px;
  }

  .headerContent {
    padding: 12px 5rem 12px 5rem;
    display: flex;
  }
}

@media only screen and (min-width: 1351px) {
  .headerContent2 {
    padding: 12px 200px 12px 200px;
  }

   .logo {
     padding: 0;
     flex: 28.2%;
   }

   .navbar {
     flex: 75%;
   }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header2 {
    padding: 12px 0px 12px 0px;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }

  .headerContent {
    padding: 12px 5rem 12px 5rem;
    display: flex;
  }
}
