.smallCardS {
  /* white */

  background: #ffffff;
  /* mygreen */

  border: 1px solid #65b79f;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;

  margin: 0.75rem 0rem;
}

.invalid-feedback {
  color: tomato;
  font-size: var(--verySmall-size);
}

.progressBarAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.progressBar {
  margin: 0.4rem;
}

#progressbar {
  background-color: #ffffff;
  width: 90%;
  color: #ffffff;
  border: 0.1px solid #65b79f;
  border-radius: 33px;
  height: 0.8rem;
  /* (height of inner div) / 2 + padding */
}

#progressbar > div {
  background-color: #65b79f;
  width: 96%;
  height: 0.8rem;
  font-size: var(--verySmall-size);
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}

#progressbar2 {
  background-color: #ffffff;
  width: 90%;
  color: #ffffff;
  border: 0.1px solid #65b79f;
  border-radius: 33px;
  /* (height of inner div) / 2 + padding */
  height: 0.8rem;
}

#progressbar2 > div {
  background-color: #65b79f;
  width: 90%;
  /* Adjust with JavaScript */
  height: 0.8rem;
  font-size: var(--verySmall-size);
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}

#progressbar3 {
  background-color: #ffffff;
  width: 90%;
  color: #ffffff;
  border: 0.1px solid #65b79f;
  border-radius: 33px;
  /* (height of inner div) / 2 + padding */
  height: 0.8rem;
}

#progressbar3 > div {
  background-color: #65b79f;
  width: 98%;
  /* Adjust with JavaScript */
  height: 0.8rem;
  font-size: var(--verySmall-size);
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}

#progressbar4 {
  background-color: #ffffff;
  width: 90%;
  color: #ffffff;
  border: 0.1px solid #65b79f;
  border-radius: 33px;
  /* (height of inner div) / 2 + padding */
  height: 0.8rem;
}

#progressbar4 > div {
  background-color: #65b79f;
  width: 96%;
  /* Adjust with JavaScript */
  height: 0.8rem;
  font-size: var(--verySmall-size);
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}

.containerS {
  padding: 0.7rem 0.3em;
  color: #6b7588;
}

.cardContainer {
  margin: 0rem;
}

.mainclassS {
  display: block;
  /*
  text-align: center;
*/
}
.containerSkill {
  padding: 0.8rem;
  border: 1px solid #ffffff;
}
.mainContainerS {
  border: 1px solid rgba(35, 36, 37, 0.19);
  margin: 0;
  padding: 2rem 0.6rem;
  background: #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.mainclassE {
  display: block;
  /*
  text-align: center;
*/
}

.mainContainerE {
  border: 1px solid rgba(35, 36, 37, 0.19);
  margin: 0;
  padding: 2rem 0.6rem;
  background: #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.loginButton {
  cursor: pointer;
  background: #65b79f;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;
  display: block;
  margin: auto;
  font-weight: bold;
}

.image-and-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}
.profileName {
  font-weight: bold;
  color: #6b7588;
}
.fixImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 10px;
}

h2 {
  font-size: 18px;
  text-align: left;
}

.progressBar h2 {
  font-size: 0.8rem;
  text-align: center;
}

h5 {
  font-size: var(--small-size);
  margin: 0.7rem;
  font-weight: normal;
}

.skillContainer {
  text-align: center;
  color: #6b7588;
}

.skillContainer2 {
  display: none;
}

.comming-soon {
  /*
  padding: 0.625rem 0.5rem 0.625rem 0rem;

  line-height: initial;
  border-radius: 0.25rem;
  max-width: 60ch;
  */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.comming-soon h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 0.9rem;
}

/*
.comming-soon h5 {
  display: block;
  width: fit-content;
  margin: 0.2rem .5rem 0.2rem 0rem;
  background-color: #65B79F;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
  color: #FFFFFF;
  text-align: center;
}
*/
h3 {
  text-align: center;
  margin: 1.3rem 0;
}

.smallCardAddS {
  background: #ffffff;
  //border: 1px solid rgba(35, 36, 37, 0.19);
  //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 1rem 0rem;
  //text-align: left;
  //width: 100%;
  // display: flex;
  border: 1px solid #65b79f;
  /* flex-direction: row;
   justify-content: space-between;
  */
  padding: 0.8rem;
}

.verySmallSpacer {
  margin-bottom: 0.8rem;
}

.smallCardS1 {
  background: #ffffff;
  //border: 1px solid rgba(35, 36, 37, 0.19);
  //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 1rem 0rem;
  //text-align: left;
  width: 100%;
  display: flex;
  border: 1px solid #65b79f;
  flex-direction: row;
  justify-content: space-between;
}

.saveButton {
  cursor: pointer;
  background: #65b79f;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;

  font-weight: bold;
}

.fixInCenterButton {
  display: block;
  text-align: center;
}

button {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

input[type="text"] {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #65b79f;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  width: 100%;
  flex: 50%;
}

input[type="number"] {
  font-size: var(--big-size);
  margin-left: 0.2rem;
  border: 1px solid #65b79f;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  width: 1.5rem;
}

/*
  input[type="date"] {
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid #65B79F;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    color: #65B79F;
    margin-left: .2rem;
    width: 100%;
    flex: 50%;
  }
*/

.fixWidthOfInputAndTextarea {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

textarea {
  border-color: #65b79f;
}

.labelOnTextarea {
  display: flex;
  flex-direction: column;
  color: #65b79f;
}

.setOnlyLabelName {
  color: #65b79f;
}

.setImage {
  height: 1rem;
  width: 1rem;
}

//Haut le css des skill
.containerE {
  padding: 2.7rem 0.7em;
}

.containerU {
  padding: 1.7rem 0.7em;
}

.mainContainerU {
  border: 1px solid rgba(35, 36, 37, 0.19);
  //margin: 2rem 2rem;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

.resizeImage {
  width: 12px;
  height: 12px;
  padding: 3.4em 0em 2.3em 0.6em;
}

.resizeImage1 {
  width: 12px;
  height: 12px;
  padding: 14px 20px 18px 20px;
}

.fixUsername {
  padding: 6px 0px 6px 8px;
  font-weight: bold;
  color: #6b7588;
}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.2em;
  position: relative;
}

label,
input {
  transition: all 0.001s;
}

input {
  font-size: var(--big-size);
  border: 0;
  border-bottom: 1px solid #65b79f;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid#65B79F;
}

label {
  width: 80%;
  letter-spacing: 0.03em;
  color: #65b79f;
  font-size: var(--regular-size);
}

input:placeholder-shown + label {
  cursor: text;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left;
  transform: translate(0, 1.37rem) scale(1.1);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.setImage {
  margin-right: 4px;
  width: 16px;
}

.imgClass {
  position: absolute;
  top: 20px;
  right: 0;
}

.changeColor {
  color: #65b79f;
}

.mainclassU {
  display: block;
  /*
  text-align: center;
*/
}

.my_file {
  position: absolute;

  left: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;

  padding: 31px 0px;
  transition: 0.5s;
  border-bottom: 1px solid #fff;
  background-repeat: no-repeat;
  -moz-opacity: 0;
  opacity: 0;
  z-index: 2;
}

.fakeFile {
  position: absolute;
  top: 8;
  //right: 0;
  cursor: pointer;
  z-index: 1;
  height: 2rem;
  width: 2rem;
  margin: 4rem 0rem 0rem 6.9rem;
}

.userName {
  font-weight: bold;
  text-align: center;
}

input[type="file"]:focus {
  text-decoration: none;
  outline: 0;
  border-bottom: 1px solid #fff;
}

.cardContainer {
  margin: 0rem;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

.deconnexion {
  margin-right: 0em;
}

.resizeImg {
  height: 1.1rem;
}

.pictureAndWorkstation {
  display: flex;
  flex-wrap: nowrap;
}
.smallCard {
  background: #ffffff;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.smallCard1 {
  background: #ffffff;
  border: 1px solid rgba(35, 36, 37, 0.19);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 1rem 0rem;
  text-align: center;
  width: 100%;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
}
.workstation {
  display: flex;
  flex-direction: column;
  padding: 2.6rem 0rem 2.2rem 0.9rem;
  text-align: left;
}

.rail {
  margin-left: 1.1em;
  margin-right: 1.1em;
}
.challengeAndVector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.smallCardForAction {
  background: #ffffff;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 0 0 1em 0;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.bigCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #6b7588;
  border-radius: 8px;
  background: #f7f8fb;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  margin-bottom: 0px 0px 20px 0px;
  width: 100%;
}

.challenge {
  padding-left: 20px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.bigTitle {
  font-weight: bold;
  //font-size: 18px;
  color: #6b7588;
  margin: 0 0 0.2em 0;
}

.mediumTitle {
  font-weight: bold;
  font-size: var(--verySmall-size);
  color: #6b7588;
  margin: 0 0 0.2em 0;
}

.smallTitle {
  color: #6b7588;
  font-size: var(--verySmall-size);
  padding: 0em;
  margin: 0.2em 0 0 0;
}
.roundedImage {
  border-radius: 50%;
  width: 1.875em;
  height: 1.875em;
}
.roundedImageEntreprise {
  width: 2.5em;
  height: 2.5em;
  padding: 2.7em 0em 2.3em 0.6em;
}
.challengeText {
  font-size: var(--small-size);
  font-weight: bold;
  color: #6b7588;
  padding: 0px;
}

.smartTitle {
  font-size: var(--small-size);
  padding: 20px 20px 10px 20px;
  font-weight: bold;
  color: #6b7588;
  text-align: left;
  margin: 0;
}
.smallDescription {
  text-align: justify;
  padding: 0px 0.6rem;
  font-size: var(--verySmall-size);
  margin: 0 0 10px 0;
}

.description {
  padding: 0.6rem;
  font-size: var(--verySmall-size);
  text-align: justify;
}

.showCursor {
  cursor: pointer;
}

h2 {
  font-size: 16px;
  text-align: left;
}

h5 {
  font-size: var(--small-size);
  margin: 0.7rem;
  font-weight: normal;
}

.skillContainer {
  text-align: center;
  color: #6b7588;
}

.skillContainer2 {
  display: none;
}

.comming-soon {
  /*
  padding: 0.625rem 0.5rem 0.625rem 0rem;

  line-height: initial;
  border-radius: 0.25rem;
  max-width: 60ch;
  */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.comming-soon h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 0.9rem;
}

/*
.comming-soon h5 {
  display: block;
  width: fit-content;
  margin: 0.2rem .5rem 0.2rem 0rem;
  background-color: #65B79F;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
  color: #FFFFFF;
  text-align: center;
}
*/

.fixUsername {
  padding: 6px 0px 6px 8px;
  font-weight: bold;
  color: #6b7588;
}

.pictureAndWorkstation {
  display: flex;
  flex-wrap: nowrap;
}

h3 {
  text-align: center;
  margin: 1.3rem 0;
}

.smallCardAdd {
  background: #ffffff;
  //border: 1px solid rgba(35, 36, 37, 0.19);
  //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 1rem 0rem;
  //text-align: left;
  //width: 100%;
  // display: flex;
  border: 1px solid #65b79f;
  /* flex-direction: row;
   justify-content: space-between;
  */
  padding: 0.8rem;
}

.verySmallSpacer {
  margin-bottom: 0.8rem;
}

.smallCard1 {
  background: #ffffff;
  //border: 1px solid rgba(35, 36, 37, 0.19);
  //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  margin: 1rem 0rem;
  //text-align: left;
  width: 100%;
  display: flex;
  border: 1px solid #65b79f;
  flex-direction: row;
  justify-content: space-between;
}

.saveButton {
  cursor: pointer;
  background: #65b79f;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;

  font-weight: bold;
}

.fixInCenterButton {
  display: block;
  text-align: center;
}

button {
  text-decoration: none;
  background-color: transparent;
  border-color: transparent;
}

.addButton {
  cursor: pointer;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #65b79f;
  padding: 0.2rem;
  width: 50px;
  margin: 0.2rem;
  font-weight: bold;
  border-color: 0;
}

a:link {
  color: #6b7588;
  background-color: transparent;
  text-decoration: none;
}

input[type="text"] {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #65b79f;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  width: 100%;
  flex: 100%;
}

input[type="number"] {
  font-size: var(--big-size);
  margin-left: 0.2rem;
  border: 1px solid #65b79f;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  width: 1.5rem;
}

input[type="date"] {
  font-size: 1em;
  border: 0;
  border-bottom: 1px solid #65b79f;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  color: #65b79f;
  margin-left: 0.2rem;
  width: 100%;
  flex: 100%;
}

.fixWidthOfInputAndTextarea {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

textarea {
  border-color: #65b79f;
}

.labelOnTextarea {
  display: flex;
  flex-direction: column;
  color: #65b79f;
}

.setOnlyLabelName {
  color: #65b79f;
  font-size: var(--small-size);
}

//fin css experience
@media only screen and (min-width: 501px) {
  .containerE {
    padding: 2rem 2rem;
  }

  .containerU {
    padding: 2rem 2rem;
  }

  .mainContainerE {
    padding: 1rem 4rem 4rem 4rem;
  }
  .containerS {
    padding: 2rem 2rem;
  }

  h2 {
    font-size: 20px;
    text-align: left;
  }

  h5 {
    font-size: 16px;
    margin: 0.7rem 0.7rem 0.7rem 0rem;
  }

  form {
    margin: 0 0 1rem 0;
  }

  .mainContainerS {
    padding: 1rem 4rem 4rem 4rem;
  }
}

@media only screen and (min-width: 750px) {
  .containerS {
    padding: 3rem 3rem;

  }

  .containerE {
    padding: 3rem 3rem 5rem 3rem;

  }

  .containerU {
    padding: 3rem 3rem;

  }

  h2 {
    font-size: 20px;
    text-align: left;
  }

  h5 {
    font-size: 16px;
    margin: 0.7rem 0.7rem 0.7rem 0rem;
  }

  .spacer {
    margin-bottom: 2.5rem;
  }

   .mainContainerU {
    padding: 2rem 5rem;

    // font-size: 1.6rem;
    margin: 0;
  }

  .mainContainerS {
    padding: 2rem 5rem;

    // font-size: 1.6rem;
    margin: 0;
  }
  .mainContainerE {
    padding: 2rem 5rem;

    // font-size: 1.6rem;
    margin: 0;
  }
}

@media only screen and (min-width: 951px) {
  .containerS {
    padding: 3rem 5rem;
  }

  .containerU {
    padding: 3rem 5rem;
  }

  .containerE {
    padding: 3rem 5rem;
  }

   .mainContainerU {
    padding: 2rem 6rem;

    // font-size: 1.6rem;
    margin: 0;
  }

  .mainContainerS {
    padding: 2rem 6rem;

    // font-size: 1.6rem;
    margin: 0;
  }
  .mainContainerE {
    padding: 2rem 6rem;

    // font-size: 1.6rem;
    margin: 0;
  }
}

@media only screen and (min-width: 1101px) {
  body {
    display: flex;
    flex-direction: column;
    // align-items: center;
  }

  .container {
    padding: 3rem 3rem;
    display: flex;
  }

  .superMainContainer {
    margin: 0rem;
    width: 75rem;
  }

  .fixAllContainerInCenter {
    display: flex;
    flex-direction: column;
  }

  .settingSidebar {
    border: 1px solid rgba(35, 36, 37, 0.19);
    margin: 0 0.9rem 0 0;
    padding: 0.9rem 2rem 2rem 1rem;
    background: #ffffff;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    position: fixed;
    height: 70vh;
  }

   .mainContainerU {
    padding: 1.5rem 11rem;

    // font-size: 1.6rem;
    margin: 0;
  }


 .mainContainerS {
    padding: 2rem 10rem;

    // font-size: 1.6rem;
    margin: 0;
  }
  .mainContainerE {
    padding: 2rem 10rem 3rem 10rem;

    // font-size: 1.6rem;
    margin: 0;
  }

  .skillContainer2 {
    display: block;
    text-align: left;
    color: #6b7588;
    width: 17rem;
    margin: 0rem;
  }

  .skillContainer {
    display: none;
  }

  h2 {
    margin: 0 0 1.5rem 0;
    text-align: left;
  }

  .spacerH {
    margin-bottom: 4rem;
  }
  .comming-soon h5 {
    margin: 0 0 1.4rem 0;
    text-align: left;
  }

  h2 {
    margin: 0 0 1.5rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }

  .comming-soon {
    display: block;
  }



  .containerE {
     padding: 2.5rem 0rem 1rem 0rem;

    align-items: center;
  }
  .containerU {
    margin: 0rem 0rem 3.5rem 0rem;
    align-items: center;
    padding: 0;
  }

  .containerS {
    padding: 2.5rem 0rem 3.5rem 0rem;
    align-items: center;
  }
  /*
  form {
    padding: 1.9rem 8rem;
  }
  */
}

@media only screen and (min-width: 1181px) {
  .skillContainer2 {

     width: 15rem;
    margin: 0rem;
  }
}

@media only screen and (min-width: 1281px) {
 .mainContainerU {
    padding: 1.5rem 11rem;

    // font-size: 1.6rem;
    margin: 0;
  }
  .skillContainer2 {

    width: 15rem;
    margin: 0rem;
  }
  .superMainContainer {

    width: 82.26rem;
  }
  .mainContainerS {
    padding: 2rem 12rem;

    // font-size: 1.6rem;
    margin: 0;
  }
  .mainContainerE {
    padding: 2rem 12rem 3rem 12rem;

    // font-size: 1.6rem;
    margin: 0;
  }

  .containerE {
     padding: 2.5rem 0rem 1rem 0rem;

    align-items: center;
  }
}



@media only screen and (min-width: 1351px) {
  .mainContainerU {
    padding: 1.5rem 11rem;

    margin: 0;

    //font-size: 1.6rem;
  }

  .superMainContainer {

    width: 88.75rem;
  }

  .spacerH {
    margin-bottom: 4.1rem;
  }
  .mainContainerS {
    padding: 2rem 12rem;

    // font-size: 1.6rem;
    margin: 0;
  }
  .mainContainerE {
    padding: 2rem 12rem 3rem 12rem;

    // font-size: 1.6rem;
    margin: 0;
  }

  .containerE {
     padding: 1.885rem 0rem 1rem 0rem;

    align-items: center;
  }
  .containerU {
    align-items: center;
    padding: 0rem 0rem 3.5rem 0rem;
  }

  .containerS {
    padding: 1.885rem 0rem;
    align-items: center;
  }



  .skillContainer2 {

     width: 15rem;
    margin: 0rem;
  }
}

//fin du css des skill
