
<div class="container">
  <div class="spacer"></div>
  <div class="skillContainer  comming-soon">
    <h2>Dashboard </h2>
    
      <h5> <a routerLink="/setting">User profile</a> </h5>
      <h5><a routerLink="/setting/experience">Add experiences</a></h5>
      <h5><a routerLink="/setting/skill">Add skill</a></h5>
  </div>
  <!--For desktop only-->
  <div class="skillContainer2">
    <h2>Dashboard </h2>
    <h5> <a routerLink="/setting">User profile</a> </h5>
    <h5><a routerLink="/setting/experience">Add experiences</a></h5>
    <h5><a routerLink="/setting/skill">Add skill</a></h5>
 
  </div>


    <div class="mainContainer">
      <div class="mainclass">
        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
          <div class="classProfile">
            <div class="uploadImage" style="background-image: url('../assets/Images/walter 2.png');">
              <input type="file" class="my_file" style="background-image: url('../assets/Images/cameraGroup.png');">
            </div>                      <div class="spacer"></div>
                      <div class="field">
                        <input type="email" formControlName="email" name="email" id="email" placeholder=" "
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <label for="email"><img class="resizeImg" src="../assets/Images/userIcon.svg" alt="usericon">
                          <span class="setOnlyLabelName"> USERNAME </span>
                        </label>
                    
                      </div>
                      <div class="invalid-feedback" *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                      <div class="spacer"></div>
                      <div class="field">
                        <input type="password" required formControlName="password" name="Password" id="Password" placeholder=" "
                          [type]=" hide ?'password':'text'" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                        <label for="Password">
                    
                          <img class="resizeImg" src="../assets/Images/password.svg" alt="usericon">
                          <span class="setOnlyLabelName"> PASSWORD </span>
                    
                        </label>
                        <div class="imgPosition">
                          <i class="material-icons resizeImg imgClass changeColor" matSuffix (click)="hide =!hide">
                            {{hide ? 'visibility': 'visibility_off'}}
                          </i>
                        </div>
                      </div>
                    
                      <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                      <div class="spacer"></div>
                      <button type="submit" class="loginButton">
                  Save changes
                      </button>
                  </div>
          </form>
      </div>
  </div>



</div>
