
<div class="container">

  <div class="skillContainer">
    <h2>Dashboard </h2>
    <div class="comming-soon">
      <h5> <a routerLink="/setting" (click)="updateUserColor()" [style.color]="colorU"
          [style.fontWeight]="fontWeightU">User profile</a> </h5>
      <h5><a routerLink="/setting/experience" (click)="updateExperienceColor()" [style.color]="colorE"
          [style.fontWeight]="fontWeightE">Add experiences</a></h5>
      <h5><a routerLink="/setting/skill" (click)="updateSkillColor()" [style.color]="colorS"
          [style.fontWeight]="fontWeightS">Add skill</a></h5>
    </div>
  </div>
  <!--For desktop only-->
  <div class="skillContainer2 settingSidebar">
    <h2>Dashboard </h2>
    <div class="comming-soon">
      <h5> <a routerLink="/setting" (click)="updateUserColor()" [style.color]="colorU"
          [style.fontWeight]="fontWeightU">User profile</a> </h5>
      <h5><a routerLink="/setting/experience" (click)="updateExperienceColor()" [style.color]="colorE"
          [style.fontWeight]="fontWeightE">Add experiences</a></h5>
      <h5><a routerLink="/setting/skill" (click)="updateSkillColor()" [style.color]="colorS"
          [style.fontWeight]="fontWeightS">Add skill</a></h5>
    </div>
  </div>


    <div class="mainContainer">
      <div class="mainclass">
        <form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">

            <div>
              <div class="uploadImage">

                <img [src]="urlLink" alt="Profile image">

                <input type="file" class="my_file" style="background-image: url('../assets/Images/cameraGroup.png');"
                  (change)="selectFiles($event)">

              </div>
              <div class="userName">
                <span> ELVIS TICK TICK </span>
              </div>
              </div>

                      <div class="field">
                        <input type="email" formControlName="email" name="email" id="email" placeholder=" "
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <label for="email"><img class="resizeImg" src="../assets/Images/userIcon.svg" alt="usericon">
                          <span class="setOnlyLabelName"> USERNAME </span>
                        </label>

                      </div>

                        <div class="invalid-feedback" *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                      <div class="spacer"></div>
                      <div class="field">
                        <input type="password" required formControlName="password" name="Password" id="Password" placeholder=" "
                          [type]=" hide ?'password':'text'" [ngClass]="{ 'is-invalid': submitted && f.password.errors}">
                        <label for="Password">

                          <img class="resizeImg" src="../assets/Images/password.svg" alt="usericon">
                          <span class="setOnlyLabelName"> PASSWORD </span>

                        </label>
                        <div class="imgPosition">
                          <i class="material-icons resizeImg imgClass changeColor" matSuffix (click)="hide =!hide">
                            {{hide ? 'visibility': 'visibility_off'}}
                          </i>
                        </div>
                      </div>

                      <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                      <div class="spacer"></div>
                      <button type="submit" class="loginButton">
                  Save changes
                      </button>

          </form>
      </div>
  </div>



</div>
