/*

.sidebarContainer {

  border: 1px solid rgba(35, 36, 37, 0.19);

  height: 510px;

  margin-right: 10px;
  padding: 40px 20px 0px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

*/
:root {
  /*Colors */
  --primary-color: #6B7588;
  --secondary-color: #65B79F;
  --bg-color: #F7F8FB;
  --cardheader-color: #FFFFFF;

  /*Font sizes*/
  --regular-size: 0.9em;
  --small-size: 0.7em;
}


.container {
  padding: .7rem .7em;
  color: #6B7588;
}

.cardContainer {
  margin: 0rem;
}
.mainclass {
  display: block;

  text-align: center;
  padding-top: 1rem;
}

.mainContainer {
  border: 1px solid rgba(35, 36, 37, 0.19);

  height: 510px;

  margin: 0;
  padding: 40px 20px 0px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;

}
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.2em;
  position: relative;
}
label,
input {
  transition: all 0.001s;
}



input {
  font-size: 1.1em;
  border: 0;
  border-bottom: 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;

}

input:focus {
  outline: 0;
  border-bottom: 1px solid#65B79F;
}

label {
  width: 80%;
  letter-spacing: 0.03em;
  color: #65B79F;
  font-size: 1.1em;
}

input:placeholder-shown+label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left;
  transform: translate(0, 1.37rem) scale(1.1);

}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;

}

input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.loginButton {
  cursor: pointer;
  background: #65B79F;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;
  display: block;
  margin: auto;
  font-weight: bold;
}

span {
  text-align: center;
}

.centerContainer {
  text-align: center;
}
.uploadImage {
  height: 20rem;
  width: 20rem;
  position: relative;

   display: block;
   margin:0 .8rem;
  background-size: 100% 100%;

  overflow: hidden;
}
.uploadImage img {
  height: 18rem;
  width: 18rem;
  position: absolute;
  left:0;
  border-radius: 50%;

}
.setImage {
  margin-right: 4px;
  width: 16px;

}


/*.imgClass {
  position: absolute;
  top: 9px;
  right: 0;

}
*/
a {
  text-decoration: #FFFFFF;
  color: #060807;
}


.changeColor {
  color: #65B79F;
}

.my_file {
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  background-position: 27px 1px;
  padding: 18px 4px;
  transition: 0.5s;
  border-bottom: 0;
  background-repeat: no-repeat;
}

.my_file::-webkit-file-upload-button {
  visibility: hidden;
}



.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}


h2 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
  margin: .7rem;
}

.skillContainer {
  text-align: center;
  color: #6B7588;
}
.skillContainer2 {
  display: none;
}
.comming-soon {
  border: 2px solid #fff;
  padding: 0.625rem 0.5rem;
  margin: 3rem auto 1rem auto;
  line-height: initial;
  border-radius: 0.25rem;
  max-width: 60ch;
  display: flex;
  flex-wrap: wrap;

}

.comming-soon h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.comming-soon h2:first-of-type {
  display: block;
  width: fit-content;
  margin: 0.2rem .125rem 0.2rem .7rem;
  background-color: #65B79F;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
  color: #FFFFFF;
}

@media only screen and (min-width: 501px) {
  .container {
    padding: 2rem 2rem;
  }


  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
    margin: .7rem;
  }

}

@media only screen and (min-width: 750px) {
  .container {
    padding: 3rem 3rem;
  }


  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
    margin: .7rem;
  }
}

@media only screen and (min-width: 951px) {
  .container {
    padding: 5rem 5rem;
  }


  h2 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
    margin: .7rem;
  }
}

@media only screen and (min-width: 1101px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 5rem 5rem;
    display: flex;
  }


  .skillContainer2 {
    text-align: left;
    color: #6B7588;
    flex: 75%;
  }

  .Profile2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 1.9rem;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .Profile {
    display: none;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  h2 {
    margin: 0 0 2.5rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }

  .comming-soon {
    display: none;
  }

  .comming-soon h2 {
    display: none;
  }

  .comming-soon h2:first-of-type {
    display: none;
  }
}


@media only screen and (min-width: 1281px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 5rem 5rem;
    display: flex;
  }

  .skillContainer2 {
    text-align: left;
    color: #6B7588;
    flex: 60%;
  }

  .Profile2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 1.9rem;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .Profile {
    display: none;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  h2 {
    margin: 0 0 2.5rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1351px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 5rem 5rem;
    display: flex;
  }

  .skillContainer2 {
    text-align: left;
    color: #6B7588;
    flex: 50%;
  }

  .Profile2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .Profile {
    display: none;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

  h2 {
    margin: 0 0 2rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }
}

