
<div class="container">

  <div class="skillContainer">
    <h2>Dashboard </h2>
    <div class="comming-soon">
      <h5> <a routerLink="/setting" (click)="updateUserColor()"  [style.color] ="colorU" [style.fontWeight]="fontWeightU">User profile</a> </h5>
      <h5><a routerLink="/setting/experience" (click)="updateExperienceColor()"  [style.color] ="colorE" [style.fontWeight]="fontWeightE">Add experiences</a></h5>
      <h5><a routerLink="/setting/skill" (click)="updateSkillColor()"  [style.color] ="colorS" [style.fontWeight]="fontWeightS">Add skill</a></h5>
      </div>
    </div>
  <!--For desktop only-->
  <div class="skillContainer2 settingSidebar">
    <h2>Dashboard </h2>
    <div class="comming-soon">
        <h5> <a routerLink="/setting" (click)="updateUserColor()"  [style.color] ="colorU" [style.fontWeight]="fontWeightU">User profile</a> </h5>
        <h5><a routerLink="/setting/experience" (click)="updateExperienceColor()"  [style.color] ="colorE" [style.fontWeight]="fontWeightE">Add experiences</a></h5>
        <h5><a routerLink="/setting/skill" (click)="updateSkillColor()"  [style.color] ="colorS" [style.fontWeight]="fontWeightS">Add skill</a></h5>
    </div>
  </div>


  <div class="mainContainer">
    <div class="mainclass">
      <div class="smallCard">

        <div class="progressBar">
          <h2>Maitrise du Html 5</h2>
          <div class="progressBarAndImage">
            <div id="progressbar">
              <div>96%</div>
            </div>
            <img class="setImage" src="../assets/Images/Group1.png" alt="usericon">
          </div>
        </div>

      </div>
      <div class="smallCard">

        <div class="progressBar">
          <h2>Maitrise du Css 3</h2>
          <div class="progressBarAndImage">
            <div id="progressbar2">
              <div>90%</div>
            </div>
            <img class="setImage" src="../assets/Images/Group2.png" alt="usericon">
          </div>
        </div>

      </div>
      <div class="smallCard">

        <div class="progressBar">
          <h2>Maitrise du Javascript </h2>
          <div class="progressBarAndImage">
            <div id="progressbar3">
              <div>98%</div>
            </div>
            <img class="setImage" src="../assets/Images/Group3.png" alt="usericon">
          </div>
        </div>

      </div>
      <div class="smallCard">

        <div class="progressBar">
          <h2>Maitrise d'Angular</h2>
          <div class="progressBarAndImage">
            <div id="progressbar4">
              <div>94%</div>
            </div>
            <img class="setImage" src="../assets/Images/Group4.png" alt="usericon">
          </div>
        </div>

      </div>
              <div class="verySmallSpacer"></div>
                <div class="smallCardAdd">
                  <h3><span class="setOnlyLabelName"> Add skill </span></h3>
                  <form>

                    <div class="verySmallSpacer"></div>
                    <div class="fixWidthOfInputAndTextarea">
                      <label for="email"><span class="setOnlyLabelName"> Skill name : </span>
                      </label>
                      <input type="text" formControlName="email" name="email">
                    </div>

                    <div class="verySmallSpacer"></div>
                    <div>
                      <label for="email"><span class="setOnlyLabelName"> Skill level % (between 1 and 100): </span>
                      </label>
                      <input type="number" id="quantity" name="quantity" min="1" max="100">
                    </div>
                    <div class="verySmallSpacer"></div>


                  </form>
                </div>
                        <div class="verySmallSpacer"></div>
                <div class="fixInCenterButton">
                  <button>
                    <div type="submit" class="addButton">
                      Add
                    </div>
                  </button>
                  <button>
                    <div type="submit" class="saveButton">
                      Saves changes
                    </div>
                  </button>
                </div>
    </div>
  </div>



</div>
