.smallCard {
  /* white */

  background: #FFFFFF;
  /* mygreen */

  border: 1px solid #65B79F;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;

  margin-bottom: 12px;
}
.invalid-feedback {
  color: tomato;
  font-size: 12px;
}
.progressBarAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h2{
  margin-top:6px;
  margin-bottom:6px;
}
.progressBar{
  margin: .4rem;

}
#progressbar {
  background-color: #FFFFFF;
  width:90%;
  color: #FFFFFF;
  border: .1px solid #65B79F;
  border-radius: 33px;
  height: .8rem;
  /* (height of inner div) / 2 + padding */

}

#progressbar>div {
  background-color: #65B79F;
  width: 96%;
  height: 0.8rem;
  font-size: 12px;
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}
#progressbar2 {
  background-color: #FFFFFF;
  width:90%;
  color: #FFFFFF;
  border: .1px solid #65B79F;
  border-radius: 33px;
  /* (height of inner div) / 2 + padding */
  height: .8rem;
}

#progressbar2>div {
  background-color: #65B79F;
  width: 90%;
  /* Adjust with JavaScript */
  height: 0.8rem;
  font-size: 12px;
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}
#progressbar3 {
  background-color: #FFFFFF;
  width: 90%;
  color: #FFFFFF;
  border: .1px solid #65B79F;
  border-radius: 33px;
  /* (height of inner div) / 2 + padding */
  height: .8rem;
}

#progressbar3>div {
  background-color: #65B79F;
  width: 98%;
  /* Adjust with JavaScript */
  height: 0.8rem;
  font-size: 12px;
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}
#progressbar4 {
  background-color: #FFFFFF;
  width:90%;
  color: #FFFFFF;
  border: .1px solid #65B79F;
  border-radius: 33px;
  /* (height of inner div) / 2 + padding */
  height: .8rem;
}

#progressbar4>div {
  background-color: #65B79F;
  width: 96%;
  /* Adjust with JavaScript */
  height: 0.8rem;
  font-size: 12px;
  border-radius: 33px;
  text-align: center;
  padding-top: 0.025rem;
}

.container {
  padding: .7rem .7em;
  color: #6B7588;
}

.cardContainer {
  margin: 0rem;
}

.mainclass {

  display: block;
  /*
  text-align: center;
*/
}
.mainContainer {
  border: 1px solid rgba(35, 36, 37, 0.19);
  margin: 0;
  padding: 2rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  border-radius: 5px;

}

.loginButton {
  cursor: pointer;
  background: #65B79F;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;
  display: block;
  margin: auto;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  text-align: left;
}

.progressBar h2 {
  font-size: .8rem;
  text-align: center;
}

h5 {
  font-size: 13px;
  margin: .7rem;
  font-weight: normal;
}

.skillContainer {
  text-align: center;
  color: #6B7588;
}

.skillContainer2 {
  display: none;
}

.comming-soon {

  /*
  padding: 0.625rem 0.5rem 0.625rem 0rem;

  line-height: initial;
  border-radius: 0.25rem;
  max-width: 60ch;
  */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.comming-soon h2 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: .9rem;
}
/*
.comming-soon h5 {
  display: block;
  width: fit-content;
  margin: 0.2rem .5rem 0.2rem 0rem;
  background-color: #65B79F;
  border-radius: 0.25rem;
  padding: 0.25rem 0.4rem;
  color: #FFFFFF;
  text-align: center;
}
*/
  h3 {
    text-align: center;
    margin: 1.3rem 0;
  }

  .smallCardAdd {
    background: #FFFFFF;
    //border: 1px solid rgba(35, 36, 37, 0.19);
    //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin: 1rem 0rem;
    //text-align: left;
    //width: 100%;
    // display: flex;
    border: 1px solid #65B79F;
    /* flex-direction: row;
   justify-content: space-between;
  */
    padding: .8rem;
  }

  .verySmallSpacer {
    margin-bottom: .8rem;
  }

  .smallCard1 {
    background: #FFFFFF;
    //border: 1px solid rgba(35, 36, 37, 0.19);
    //box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    margin: 1rem 0rem;
    //text-align: left;
    width: 100%;
    display: flex;
    border: 1px solid #65B79F;
    flex-direction: row;
    justify-content: space-between;

  }

  .saveButton {
    cursor: pointer;
    background: #65B79F;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    color: #fff;
    padding: 4px;
    width: 120px;

    font-weight: bold;
  }

  .fixInCenterButton {
    display: block;
    text-align: center;
  }

  button {
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
  }

  .addButton {
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
    color: #65B79F;
    padding: 4px;
    width: 50px;
    margin: .8rem;
    font-weight: bold;
    border-color: 0;
  }

  input[type="text"] {
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid #65B79F;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    width: 100%;
    flex: 50%;

  }

  input[type="number"] {
    font-size: 1.1em;
    margin-left: .2rem;
    border: 1px solid #65B79F;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    width: 1.5rem;
  }
/*
  input[type="date"] {
    font-size: 1em;
    border: 0;
    border-bottom: 1px solid #65B79F;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    color: #65B79F;
    margin-left: .2rem;
    width: 100%;
    flex: 50%;
  }
*/
  label span {
    font-size: .7rem;
  }

  .fixWidthOfInputAndTextarea {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  textarea {
    border-color: #65B79F;
  }

  .labelOnTextarea {
    display: flex;
    flex-direction: column;
    color: #65B79F;
  }

  .setOnlyLabelName {
    color: #65B79F;
  }
.setImage {
  height: 1rem;
  width: 1rem;
}

@media only screen and (min-width: 501px) {


  .container {
    padding: 2rem 2rem;
  }


  h2 {
    font-size: 20px;
    text-align: left;
  }

  h5 {
    font-size: 16px;
    margin: .7rem .7rem .7rem 0rem;
  }



  form {
    margin: 0 0 2rem 0;
  }

  .mainContainer {
    padding: 1rem 4rem 4rem 4rem;
  }
}


@media only screen and (min-width: 750px) {
  .container {
    padding: 3rem 3rem;
  }


  h2 {
    font-size: 20px;
    text-align: left;
  }

  h5 {
    font-size: 16px;
    margin: .7rem .7rem .7rem 0rem;
  }

  .spacer {
    margin-bottom: 3.5rem;
  }

  .mainContainer {

    padding: 1rem 8rem 8rem 8rem;
  }
}

@media only screen and (min-width: 951px) {
  .container {
    padding: 5rem 5rem;
  }

  .mainContainer {
    padding: 1rem 10rem 10rem 10rem;
  }



  h2 {
    font-size: 2rem;
    text-align: left;
  }

  h5 {
   // font-size: 1.2rem;
    margin: .7rem;
  }
}

@media only screen and (min-width: 1101px) {

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .settingSidebar {
    border: 1px solid rgba(35, 36, 37, 0.19);
    margin: 0 .9rem 0 0;
    padding: .9rem 2rem 2rem 1rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
    border-radius: 5px;

  }

  .container {
    padding: 3.5rem 3.5rem;
    display: flex;
  }

  .mainContainer {
    padding: 1rem 3rem 10rem 3rem;
    width: 100%;
  }

  .skillContainer2 {
    display: block;
    text-align: left;
    color: #6B7588;
    flex: 33%;
  }


  .skillContainer {
    display: none;
  }

  h2 {
    margin: 0 0 1.5rem 0;
    text-align: left;
  }

  .comming-soon h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }

  h2 {
    margin: 0 0 1.5rem 0;
    text-align: left;
  }

  h5 {
    margin: 0 0 1.2rem 0;
    text-align: left;
  }

  .comming-soon {
    display: block;
  }
}


@media only screen and (min-width: 1281px) {
  .mainContainer {
    padding: 1rem 6rem 10rem 6rem;
    width: 100%;
  }


}

@media only screen and (min-width: 1351px) {


  .mainContainer {
    padding: 1rem 8rem 10rem 8rem;
    width: 100%;
  }



}
