.invalid-feedback {
  color:tomato;
  font-size:12px;
}
/*
.logo {
  color: #65B79F;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header {

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;


}

.headerContent {
  padding: 12px 10px 12px 10px;
}
*/
/* The container */
.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width:18px;
  background-color: #F3F5F9;
  border: 1px solid #65B79F;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input~.checkmark {
  background-color: #F3F5F9;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked~.checkmark {
  background-color: #65B79F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 5.1px;
  top: 1.1px;
  width: 5px;
  height: 10px;
  border: solid #F3F5F9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rightSide {
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 0px 12px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.preferal_bg {
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  background-position: 50% 50%;

}

.resizeImg {
  width: 14px;
  height: 14px;
}

.setOnlyLabelName {
  font-size: 12px;
  text-align: center;
}

.hide_mobile {
  display: none;
}



.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.2em;
  position: relative;
}

label,
input {
  transition: all 0.001s;
}



input {
  font-size: 1.1em;
  border: 0;
  border-bottom: 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;

}

input:focus {
  outline: 0;
  border-bottom: 1px solid#65B79F;
}

label {
  width: 80%;
  letter-spacing: 0.03em;
  color: #65B79F;
  font-size: 1.1em;
}

input:placeholder-shown+label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left;
  transform: translate(0, 1.37rem) scale(1.1);

}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;

}

input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.imgPosition {
  position: absolute;
  padding-right: 9px;
  right: 0;
  cursor: pointer;
}

.signupLink {
  font-weight: bold;
  padding: 18px 0px 12px 0px;
}

.spacer {
  margin-bottom: 0px;
}

.loginButton {
  cursor: pointer;
  background: #65B79F;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;
  display: block;
  margin: auto;
  font-weight: bold;
}



.changeColor {
  color: #65B79F;
}

h1 {
  padding-top:12px;
  text-align: center;
  font-size: 16px;
  margin: 0;
}

span {
  text-align: center;
}

.centerContainer {
  text-align: center;
}

@media only screen and (min-width: 501px) {
  .signinClass {
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  ._container {
    width: 100%;
  }

  .rightSide {
    padding: 20px 50px;
    margin: 26px 0px;
  }

  .header {
    height: 50px;
  }

  .headerContent {
    padding: 12px 50px 12px 50px;
  }

  .logo {
    padding: 0;
  }
}

@media only screen and (min-width: 750px) {
  .signinClass {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
  }

  .fixCameraImage {
    margin: 50px 0px;
    height: 440px;
    width: 60vh;
  }


  .imageDesign {
    display: none;
  }

  .hide_mobile {
    display: block;

  }

  input {
    background-color: #fff;

  }

  .preferal_bg {
    display: none;
  }

  .rightSide {
    background-color: #fff;
    height: 400px;
    padding-left: 40px;
    width: 100%;
    margin: 50px 0;
  }

  h1 {
    font-size: 20px;

  }



  .resizeImg {
    width: 16px;
    height: 16px;
  }

  .setOnlyLabelName {
    font-size: 14px;
  }
.header {
  height: 50px;

}

.headerContent {
  padding: 12px 50px 12px 50px;
}

.logo {
  padding: 0;
}

.hide-desktop {
  display: block;
}

.hide-mobile {
  display: none;
}

}

@media only screen and (min-width: 951px) {
  .signinClass {
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-wrap: nowrap;
  }

  .imageDesign {
    display: none;
  }


  imgClass {
    top: 2px;
  }
  .headerContent {
    padding: 12px 70px 12px 70px;

  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .logo {
    padding: 0;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }

  .hide_mobile {
    display: block;

  }

  .fixCameraImage {
    margin: 50px 0px;
    height: 460px;
    width: 100%;
  }

  input {
    background-color: #fff;
    margin-bottom: 0px;
    width: 100%;
  }

  .preferal_bg {
    display: none;
  }

  .rightSide {
    background-color: #fff;
    height: 460px;
    padding: 0 40px;
    width: 100%;
    margin: 50px 0;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 25px;
  }

  .centerContainer {

    margin-bottom: 0px;
    margin-top: 0px;
  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }

  .setOnlyLabelName {
    font-size: 14px;
  }

  .imgPosition {
    top: 18px;
    padding-right: 6px;
  }
}

@media only screen and (min-width: 1101px) {
  .signinClass {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: nowrap;
  }

  .headerContent {
    padding: 12px 100px 12px 100px;
  }

  .hide-desktop {
    display: block;
  }

  .logo {
    padding: 0;
  }

  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }

  .imageDesign {
    display: none;
  }

  input {
    background-color: #fff;
    width: 100%;
  }

  .preferal_bg {
    display: none;
  }

  .fixCameraImage {
    margin: 20px 0px;
    width: 100%;
    height: 515px;
  }

  .rightSide {
    background-color: #fff;
    padding: 0 40px;
    width: 100%;
    margin: 20px 0 0px 0;
    height: 515px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 55px;
    margin-top: 55px;
  }

  .centerContainer {

    margin-bottom: 55px;
    margin-top: 55px;
  }

  .hide_mobile {
    display: block;

  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }



  .setOnlyLabelName {
    font-size: 14px;
  }
}


@media only screen and (min-width: 1281px) {
  .signinClass {
    margin-left: 125px;
    margin-right: 125px;
    display: flex;
    flex-wrap: nowrap;
  }

  .headerContent {
    padding: 12px 125px 12px 125px;
  }

  .logo {
    padding: 0;
  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }

  .imageDesign {
    display: none;
  }

  input {
    background-color: #fff;
    width: 100%;
  }

  .preferal_bg {
    display: none;
  }

  .fixCameraImage {
    margin: 20px 0px;
    width: 100%;
    height: 555px;
  }

  .rightSide {
    background-color: #fff;
    padding: 0 40px;
    width: 100%;
    margin: 20px 0;
    height: 555px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 55px;
    margin-top: 55px;
  }

  .centerContainer {

    margin-bottom: 55px;
    margin-top: 55px;
  }

  .hide_mobile {
    display: block;

  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }



  .setOnlyLabelName {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1351px) {
  .signinClass {
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-wrap: nowrap;
  }



  .imageDesign {
    display: none;
  }

  input {
    background-color: #fff;
    width: 100%;
  }

  .preferal_bg {
    display: none;
  }

  .headerContent {
    padding: 12px 200px 12px 200px;
  }

  .logo {
    padding: 0;
  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }

  .fixCameraImage {
    margin: 30px 0px;
    width: 100%;
    height: 555px;
  }

  .rightSide {
    background-color: #fff;
    padding: 0 40px;
    width: 100%;
    margin: 30px 0;
    height: 555px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 55px;
    margin-top: 55px;
  }

  .centerContainer {

    margin-bottom: 55px;
    margin-top: 55px;
  }

  .hide_mobile {
    display: block;

  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }



  .setOnlyLabelName {
    font-size: 14px;
  }
}
