.rightSide {
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.preferal_bg {
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  background-position: 50% 50%;

}

.resizeImg {
  width: 14px;
  height: 14px;
}

.setOnlyLabelName {
  font-size: 12px;
}

.hide_mobile {
  display: none;
}


.imageDesign2 {
  display: none;
}

.preferal_bg2 {
  display: none;
}


.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.2em;
  position: relative;
}

label,
input {
  transition: all 0.001s;
}



input {
  font-size: 1.1em;
  border: 0;
  border-bottom: 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
  margin-bottom: 35px;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid#65B79F;
}

label {

  letter-spacing: 0.03em;
  color: #65B79F;
  font-size: 1.1em;
}

input:placeholder-shown+label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left;
  transform: translate(0, 1.37rem) scale(1.1);
  width: 275px;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;

}

input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.imgPosition {
  position: absolute;
  top: 9px;
  right: 0;
  cursor: pointer;
}

.loginButton {
  cursor:pointer;
  background: #65B79F;
  box-shadow: 0px 4px 10px rgba(146, 143, 143, 0.431);
  color: #fff;
  padding: 4px;
  width: 120px;
  display: block;
  margin: auto;
}

.error {
  display: block;
  width: 360px;
  color: red;
  margin: auto;
  text-align: justify;
}

.changeColor {
  color: #65B79F;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 16px;
}

span {
  text-align: center;
}

.centerContainer {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 35px;
}


/* The container */
.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 32px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width:18px;
  background-color: #F3F5F9;
  border: 1px solid #65B79F;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input~.checkmark {
  background-color: #F3F5F9;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked~.checkmark {
  background-color: #65B79F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 5.1px;
  top: 1.1px;
  width: 5px;
  height: 10px;
  border: solid #F3F5F9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 501px) {

  .hide_mobile {
    display: none;

  }



  .rightSide {
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .imageDesign {
    display: none;
  }

  .preferal_bg {
    display: none;
  }

  .imageDesign2 {
    display: block;
  }

  .preferal_bg2 {
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    background-position: 50% 50%;
  }

  h1 {
    font-size: 23px;
    margin-bottom: 14px;
    margin-top: 14px;
  }

  .centerContainer {

    margin-bottom: 15px;
    margin-top: 15px;
  }

  .resizeImg {
    width: 14px;
    height: 14px;
  }

  .setOnlyLabelName {
    font-size: 12px;
  }
}

@media only screen and (min-width: 726px) {
  .signinClass {
    margin-left: 50px;
    margin-right: 10px;
    display: flex;
    flex-wrap: nowrap;
  }

  .imageDesign2 {
    display: none;
  }

  .preferal_bg2 {
    display: none;
  }

  .imageDesign {
    display: none;
  }

  .hide_mobile {
    display: block;
  }

  .fixCameraImage {
    width: 100%;
    height: 500px;
  }

  input {
    background-color: #F3F5F9;
    margin-bottom: 50px;
  }

  .preferal_bg {
    display: none;
  }

  .rightSide {
    background-color: #F3F5F9;
    margin-right: 0;
    margin-left: 10px;
    padding-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 47%;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 34px;
    margin-top: 45px;
  }

  .centerContainer {

    margin-bottom: 25px;
    margin-top: 45px;
  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }

  .setOnlyLabelName {
    font-size: 14px;
  }
}

@media only screen and (min-width: 901px) {
  .signinClass {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: nowrap;
  }

  .imageDesign {
    display: none;
  }

  .imageDesign2 {
    display: none;
  }

  .preferal_bg2 {
    display: none;
  }

  .hide_mobile {
    display: block;
    width: 55%;
  }

  .fixCameraImage {

    height: 572px;
  }

  input {
    background-color: #F3F5F9;
    margin-bottom: 50px;
  }

  .preferal_bg {
    display: none;
  }

  .rightSide {
    background-color: #F3F5F9;
    margin-right: 0;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 45%;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 34px;
    margin-top: 55px;
  }

  .centerContainer {

    margin-bottom: 55px;
    margin-top: 55px;
  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }

  .setOnlyLabelName {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1101px) {
  .signinClass {
    margin-left: 70px;
    margin-right: 30px;
    display: flex;
    flex-wrap: nowrap;
  }

  .imageDesign2 {
    display: none;
  }

  .preferal_bg2 {
    display: none;
  }

  .imageDesign {
    display: none;
  }

  input {
    background-color: #F3F5F9;
    width: 425px;
  }

  .preferal_bg {
    display: none;
  }

  .rightSide {
    background-color: #F3F5F9;
    margin-right: 0;
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 50%;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 34px;
    margin-top: 55px;
  }

  .centerContainer {

    margin-bottom: 55px;
    margin-top: 55px;
  }

  .hide_mobile {
    display: block;

  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }

  .fixCameraImage {
    width: 580px;
    height: 572px;
  }

  .setOnlyLabelName {
    font-size: 14px;
  }
}
