<!--
<div class="header">
  <div routerLinkActive="active" class="headerContent">

    <div class="navbar">

      <a routerLink="home" class="logo">Preferral</a>
      
      <div class="hide-desktop">
        <span class="showCursor" *ngIf="isAuth" routerLink="home">Home</span>
      </div>
      <div class="hide-desktop">
        <span class="hide-desktop showCursor" *ngIf="isAuth" routerLink="setting">Setting</span>
      </div>
      <div *ngIf="isAuth" (click)="onSignOut()" routerLink="auth/signin" class="logout">
        <img class="hide-desktop" src="../assets/Images/Vector_power.svg" alt="Se Déconnecter">
      </div>
      <div *ngIf="isAuth" class="show-mobile hide-mobile">

        <a class="hamburger menu  " id="menu">
          <span></span>
          <span></span>
          <span></span>
        </a>


      </div>
    </div>
  
  </div>

</div>

-->
<div class="signinClass">
  <div class="_container">
    <div class="imageDesign preferal_bg" [ngStyle]="{'background-image': 'url(../assets/Images/pexelscamera.jpeg)'}">

    </div>

    <div class="hide_mobile">
      <img class="fixCameraImage" src="../assets/Images/camera.png" alt="">
    </div>
  </div>
    <div class="rightSide">
      <div class="spacer"></div>
      <h1>Sign Up</h1>


      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="spacer"></div>
        <div class="field">
          <input type="email" formControlName="email" name="email" id="email" placeholder=" " [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <label for="email"><img class="resizeImg"  src="../assets/Images/userIcon.svg" alt="usericon">
            <span class="setOnlyLabelName"> USERNAME </span>
          </label>

        </div>
              <div class="invalid-feedback" *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
        <div class="spacer"></div>
        <div class="field">
          <input type="password" formControlName="password" name="password" id="Password" placeholder=" "
            [type]=" hide ?'password':'text'"  [ngClass]="{ 'is-invalid': submitted && f.password.errors}" >
          <label for="Password">

                <img class="resizeImg" src="../assets/Images/password.svg" alt="usericon">
                <span class="setOnlyLabelName"> PASSWORD</span>


          </label>
          <div class="imgPosition">
            <i class="material-icons resizeImg imgClass changeColor" matSuffix (click)="hide =!hide">
              {{hide ? 'visibility': 'visibility_off'}}
            </i>
          </div>

        </div>
        
        <div class="invalid-feedback" *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>

        <div class="checkbox changeColor">

          <label class="containerCheckbox">I agree to the Terms and Privacy
            <input type="checkbox" formControlName="agreeTerms" id="agreeTerms"  [ngClass]="{ 'is-invalid': submitted && f.agreeTerms.errors }" >
            <span class="checkmark"></span>
          </label>
          <div *ngIf="submitted && f.agreeTerms.errors" class="invalid-feedback">Please check to agree  to Terms and Privacy     </div>
        </div>
        <div class="spacer"></div>
        <button type="submit"  class="loginButton"  >
          Create account
        </button>
      </form>


      <div class="centerContainer">
        
        <div class="signupLink">
          <span>Existing user?<a routerLink="/auth/signin" class="changeColor"> Log in</a></span>
        </div>

      </div>

    </div>
  </div>


