

  <div class="signinClass">
<div class="imageDesign preferal_bg" [ngStyle]="{'background-image': 'url(../assets/Images/pexelscamera.jpeg)'}">

</div>
<div class="imageDesign2 preferal_bg2" [ngStyle]="{'background-image': 'url(../assets/Images/camera3.png)'}">

</div>
<div class="hide_mobile">
  <img class="fixCameraImage" src="../assets/Images/camera.png" alt="">
</div>
    <div class="rightSide">

      <h1>Sign Up</h1>
      <div class="spacer"></div>

      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <input type="email" formControlName="email" name="email" id="email" placeholder=" ">
          <label for="email"><img class="resizeImg"  src="../assets/Images/userIcon.svg" alt="usericon">
            <span class="setOnlyLabelName"> USERNAME </span>
          </label>
        </div>
        <div class="spacer"></div>
        <div class="field">
          <input type="password" formControlName="password" name="Password" id="Password" placeholder=" "
            [type]=" hide ?'password':'text'">
          <label for="Password">

                <img class="resizeImg" src="../assets/Images/password.svg" alt="usericon">
                <span class="setOnlyLabelName"> PASSWORD</span>


          </label>
          <div class="imgPosition">
            <i class="material-icons resizeImg imgClass changeColor" matSuffix (click)="hide =!hide">
              {{hide ? 'visibility': 'visibility_off'}}
            </i>
          </div>

        </div>
        <div class="spacer"></div>
        <div class="checkbox changeColor">
          <label class="containerCheckbox">I agree to the Terms and Privacy
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>

        </div>

        <button type="submit"  class="loginButton" [disabled]="signUpForm.invalid" >
          Create account
        </button>
      </form>


      <div class="centerContainer">
        <div class="spacer"></div>
        <div class="signupLink">
          <span>Existing user?<a routerLink="/auth/signin" class="changeColor"> Log in</a></span>
        </div>
        <div class="spacer"></div>
      </div>

    </div>


<app-toaster-container></app-toaster-container>
  </div>


