/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  /*Colors */
  --primary-color: #65b79f;
  --primary-color-900: #1e6d55;
  --secondary-color: #6B7588;
  --firstBackground-color: #ffffff;
  --secondBackground-color: #F3F5F9;
  --error-color: #f55f44;

  /*Font sizes*/
  --bigTitle-size: 1.5rem;
  --big-size: 1.25rem;
  --regular-size: 1.15rem;
  --medium-size: 1.25rem;
  --small-size: .9rem;
  --verySmall-size: .725rem;
  
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #6B7588;
  font-family: 'Montserrat', sans-serif;
 background-color: #F3F5F9;

}
*{
  outline: 0;
}
.forAllContainer{
  margin-top: 50px;


}
/*
aside {
  display:none;
}
*/
/*
.container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
   padding-top: 20px;
}
*/
.spacer {
  margin-top: 40px;
}

a{
  color: var(--primary-color);
  cursor: pointer;
  transition: color 250ms ease-in-out;
  text-decoration: none;
}


a:hover{
  color: var(--primary-color-900);
  transition: color 250ms ease-in-out;
}







