.invalid-feedback {
  color: tomato;
  font-size: 12px;
}
.rightSide {
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  padding: 14px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.preferal_bg {
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  background-position: 50% 50%;

}
.resizeImg {
  width: 14px;
  height: 14px;
}

.setOnlyLabelName {
  font-size: 12px;
  text-align: center;
}
.hide_mobile {
  display: none;
}



.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 0.2em;
  position: relative;
}

label,
input {
  transition: all 0.001s;
}



input {
  font-size: 1.1em;
  border: 0;
  border-bottom: 1px solid #65B79F;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;

}

input:focus {
  outline: 0;
  border-bottom: 1px solid#65B79F;
}

label {
  width: 80%;
  letter-spacing: 0.03em;
  color: #65B79F;
  font-size: 1.1em;
}

input:placeholder-shown+label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left;
  transform: translate(0, 1.37rem) scale(1.1);

}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;

}

input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.imgPosition {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.signupLink {
  font-weight: bold;
  padding: 18px 0px 12px 0px;
}
.spacer {
  margin-bottom: 0px;
}
.loginButton {
  cursor: pointer;
  background: #65B79F;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  padding: 4px;
  width: 120px;
  display: block;
  margin: auto;
  font-weight: bold;
}



.changeColor {
  color: #65B79F;
}

h1 {
  text-align: center;
  font-size: 16px;
  margin: 0;
}

span {
  text-align: center;
}

.centerContainer {
  text-align: center;
}

@media only screen and (min-width: 501px) {
  .signinClass {
    margin: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  ._container {
    width: 100%;
  }
  
  .rightSide {
    padding: 20px 50px;
    margin: 26px 0px;
  }
}

@media only screen and (min-width: 750px) {
  .signinClass {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-items: normal;
  }

  .fixCameraImage {
    margin: 30px 0px;
    height: 440px;
    width: 100%;
  }


  .imageDesign {
    display: none;
  }

  .hide_mobile {
    display: block;

  }

  input {
    background-color: #fff;

  }

  .preferal_bg {
    display: none;
  }

  .rightSide {
    background-color: #fff;
    height: 400px;
    padding-left: 40px;
    width: 100%;
    margin: 30px 0;
  }

  h1 {
    font-size: 20px;

  }



  .resizeImg {
    width: 16px;
    height: 16px;
  }

  .setOnlyLabelName {
    font-size: 14px;
  }
}

@media only screen and (min-width: 951px) {
  .signinClass {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: nowrap;
  }

  .imageDesign {
    display: none;
  }


  imgClass {
    top: 2px;
  }


  .hide_mobile {
    display: block;

  }

  .fixCameraImage {
    margin: 70px 0px;
    height: 440px;
    width: 100%;
  }

  input {
    background-color: #fff;
    margin-bottom: 10px;
    width: 100%;
  }

  .preferal_bg {
    display: none;
  }

  .rightSide {
    background-color: #fff;
    height: 440px;
    padding: 0 40px;
    width: 100%;
    margin: 70px 0;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 35px;
    margin-top: 25px;
  }

  .centerContainer {

    margin-bottom: 0px;
    margin-top: 55px;
  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }

  .setOnlyLabelName {
    font-size: 14px;
  }

  .imgPosition {
    top: 18px;
    padding-right: 6px;
  }
}

@media only screen and (min-width: 1101px) {
  .signinClass {
    margin-left: 70px;
    margin-right: 70px;
    display: flex;
    flex-wrap: nowrap;
  }



  .imageDesign {
    display: none;
  }

  input {
    background-color: #fff;
    width: 100%;
  }

  .preferal_bg {
    display: none;
  }

  .fixCameraImage {
    margin: 20px 0px;
    width: 100%;
    height: 500px;
  }

  .rightSide {
    background-color: #fff;
    padding: 0 40px;
    width: 100%;
    margin: 20px 0;
    height: 500px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 34px;
    margin-top: 55px;
  }

  .centerContainer {

    margin-bottom: 55px;
    margin-top: 55px;
  }

  .hide_mobile {
    display: block;

  }

  .resizeImg {
    width: 16px;
    height: 16px;
  }



  .setOnlyLabelName {
    font-size: 14px;
  }
}
