<div class="signinClass">
  <div class="imageDesign preferal_bg" [ngStyle]="{'background-image': 'url(../assets/Images/pexelscamera.jpeg)'}">

  </div>
  <div class="imageDesign2 preferal_bg2" [ngStyle]="{'background-image': 'url(../assets/Images/camera3.png)'}">

  </div>
  <div class="hide_mobile">
    <img class="fixCameraImage" src="../assets/Images/camera.png" alt="">
  </div>
  <div class="rightSide">


    <h1>Sign In</h1>
    

    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

      <div class="field">
        <input type="email" formControlName="email" name="email" id="email" placeholder=" ">
        <label for="email"><img class="resizeImg" src="../assets/Images/userIcon.svg" alt="usericon">
         <span class="setOnlyLabelName"> username </span>
        </label>
      </div>

      <div class="field">
        <input type="password" formControlName="password" name="Password" id="Password" placeholder=" "
          [type]=" hide ?'password':'text'">
        <label for="Password">

          <img class="resizeImg" src="../assets/Images/password.svg" alt="usericon">
            <span class="setOnlyLabelName"> password</span>

        </label>
        <div class="imgPosition">
          <i class="material-icons resizeImg imgClass changeColor" matSuffix (click)="hide =!hide">
            {{hide ? 'visibility': 'visibility_off'}}
          </i>
        </div>
      </div>


      <button type="submit" [disabled]="signInForm.invalid" class="loginButton">
        Log In
      </button>
    </form>


    <div class="centerContainer">
      <div class="signupLink">
        <span>Not registered yet?<a routerLink="/auth/signup" class="changeColor"> Sign up</a></span>
      </div>

<app-toaster-container></app-toaster-container>
    </div>


  </div>
</div>
