




<div class="container">





          <div class="Profile">
            <div class="myImageProfile">
                  <img class="roundedImage" src="../assets/Images/walter 1.png" alt="Photo de profil">
            </div>
                  <span class="fixUsername"> Elvis TICK TICK </span>

          </div>



          <div class="spacer"></div>

             <div class="skillContainer ">

                <h2>Skills </h2>
                  <div class="comming-soon">
                    <h5> Maitrise du HTML et CSS </h5>
                    <h5> Maitrise du Javascript </h5>
                    <h5> Maitrise d'Angular </h5>
                    <h5> UI Designer avec Figma </h5>
                    <h5> Maitrise de l’anglais </h5>
                    </div>
            </div>
  <!--For desktop only  -->
            <div class="skillContainer2">

              <h2>Skills </h2>
                <div class="comming-soon">
                  <h5> Maitrise du HTML et CSS </h5>
                  <h5> Maitrise du Javascript </h5>
                  <h5> Maitrise d'Angular </h5>
                  <h5> UI Designer avec Figma </h5>
                  <h5> Maitrise de l’anglais </h5>
                </div>
            </div>


  <div class="spacer"></div>
  <div class="cardContainer">
    <div class="Profile2">
      <div class="myImageProfile">
        <img class="roundedImage" src="../assets/Images/walter 1.png" alt="Photo de profil">
      </div>
      <span class="fixUsername"> Elvis TICK TICK </span>

    </div>
    <div class="bigCard">
      <div class="smallCard">
        <div class="pictureAndWorkstation">
                <img class="roundedImageEntreprise" src="../assets/Images/enterpri 1.png" alt="Photo de profil">
              <div class="fixWorkstation">
                <div class="workstation">
                <span class="bigTitle">DevelopperCompany</span>
                <span class="mediumTitle">Frontend Developper & UI Design</span>
                <span class="smallTitle">Juin 2019 -Septembre 2020</span>
                </div>
              </div>
        </div>
              <img class="resizeImage" src="../assets/Images/VectorFleche.svg" alt="Voir Plus">
      </div>
      <div class="description">
          Lorem ipsum dolot, consectetur adipiscing elit. set Diam amet, nulla mi ultricies pellentesque lo nhjfdshhjhhfh bortis.
          Nisl hac adipiscing adipiscing facilisi at net heh le defi galiquam. Libero posuere tempus, orci ante pulvinar viverra
          eget. Pellentesque in congue at semper.
      </div>

      <div class="rail">
          <div class="smallCardForAction">
            <span class="smartTitle">Coder une application de fast food</span>
            <p class="smallDescription">Lorem ipsum dolor sit ametje suis en plein je paeeee , consectetur adipiscing elit. tu as</p>
            <div class="challengeAndVector">
                <div class="challenge">
                  <span class="challengeText">Challenge</span>
                  <img src="../assets/Images/staricon.svg" alt="">
                </div>
                <img  class="resizeImage1" src="../assets/Images/VectorFleche.svg" alt="">
              </div>
          </div>
    </div>
    </div>

    <div class="smallCard1">
      <div class="pictureAndWorkstation">
        <img class="roundedImageEntreprise" src="../assets/Images/brand 1.png" alt="Photo de profil">
          <div class="workstation">
            <span class="bigTitle">DesignerCompany</span>
            <span class="mediumTitle">UX & UI Design</span>
            <span class="smallTitle">Mai 2016 -Novembre 2018</span>
          </div>

      </div>
      <img class="resizeImage" src="../assets/Images/VectorFleche.svg" alt="Voir Plus">
    </div>
    </div>




</div>
