.hide-desktop {
  display: none;
}

.show-mobile {
  padding: 0;
}
.deconnexion {
  margin-right: 6px;
}
.userContain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  color: #65B79F;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.logout {
  cursor: pointer;
}

.showCursor {
  cursor: pointer;
}

.header {

  background: #FFFFFF;
  box-shadow: 0px 4px 10px 1px rgba(141, 140, 140, 0.2);
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;


}

.headerContent {
  padding: 12px 10px 12px 10px;
}

.roundedImage {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 0.35rem #e6edee)
}
.roundedImageEntreprise {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 0 0.35rem #e6edee);
  padding: 20px ;

}
h2,h3,h4 {
  margin: 2px 0px;
  padding: 0 ;
}
.challenge {
  padding-left: 20px;
  padding-bottom: 12px;
}
h2 {
  font-size:16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
.skillContainer {
  text-align: center;
}
.bigCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid rgba(58, 139, 247, 0.19);
  border-radius: 8px;
  background: #F7F8FB;
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.16);
  margin-bottom:20px ;
  width: 100%;
  height:30em;
  padding-bottom: 20px;

}
._mainContainer {
  padding-bottom: 40px;
}

.challengeAndVector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.smallCardForAction {
    background: #FFFFFF;
    border: 1px solid rgba(35, 36, 37, 0.19);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
    border-radius: 8px;

    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;

}
  .smartTitle {
    font-style: 16px;
    padding-top: 20px ;
    font-weight: bold;
  }
  .smallDescription {
    text-align: justify;
    padding: 0px 20px;
  }
.rail {
  margin-left: 20px;
  margin-right: 20px;
}
.description {
  padding: 20px;

  text-align: justify;
}
.resizeImage {
  width:12px;
  height:12px;
  padding: 50px 20px;
}

.resizeImage1 {
  width: 12px;
  height: 12px;
  padding: 20px 20px 12px 20px;
}
.fixUsername{
  padding: 12px 0px 12px 12px;
}

.Profile {
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  flex-direction:row;
  text-align: left;
}

.pictureAndWorkstation {
  display: flex;
  flex-wrap: nowrap;
}
.smallCard {
  background: #FFFFFF;
  border: 1px solid rgba(35, 36, 37, 0.19);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.smallCard1 {
  background: #FFFFFF;
  border: 1px solid rgba(35, 36, 37, 0.19);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;

  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.workstation {
  display: flex;
  flex-direction:column;
  padding: 20px 4px;
}

.fixWorkstation {
  display:block;
  margin:auto;
}

@media only screen and (min-width: 501px) {

  .header {
    height: 50px;
  }

  .headerContent {
    padding: 12px 50px 12px 50px;
  }

  .logo {
    padding: 0;
  }

}

@media only screen and (min-width: 751px) {

  .header {
    height: 50px;

  }

  .headerContent {
    padding: 12px 50px 12px 50px;
  }

  .logo {
    padding: 0;
  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

}

@media only screen and (min-width: 951px) {
  .headerContent {
    padding: 12px 70px 12px 70px;

  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .logo {
    padding: 0;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }
}

@media only screen and (min-width: 1101px) {
  .headerContent {
    padding: 12px 100px 12px 100px;
  }

  .hide-desktop {
    display: block;
  }

  .logo {
    padding: 0;
  }

  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }
}

@media only screen and (min-width: 1281px) {
  .headerContent {
    padding: 12px 125px 12px 125px;
  }

  .logo {
    padding: 0;
  }

  .hide-desktop {
    display: block;
  }

  .hide-mobile {
    display: none;
  }

  .header {
    padding: 12px 0px 12px 0px;
  }
}
