$font-size:100%;
$line-height: 1.5;
$lines-to-show: 1;

div.collapsed {
  display: -webkit-inline-box;
  display: inline-block;
  font-size: $font-size;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.resizeImage1 {
  width: 12px;
  height: 12px;
  padding: 20px 20px 12px 20px;
}
.readMore {
  margin-top: -3px !important;
  line-height: 1.4 !important;
}

.isCollapsed {
  width: 100%;
}

.cb {
  clear: both;
  height: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}