
/*
$font-size:12px;
$line-height: 1.6;
$lines-to-show: 2;


div.collapsed {
  display: -webkit-box;
  display: block;
  font-size: $font-size;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 92%;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
   height: $font-size*$line-height*$lines-to-show;
   -webkit-box-orient: vertical;

}

*/
div.collapsed {
overflow: hidden;
position: relative;
line-height: 1.4em;
max-height: 2.8em;
text-align: justify;
margin-right: -.1em;
padding-right: 1em;
font-size: 12px;
width: 90%;
}

div.collapsed:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;

}

div.collapsed:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;

}
.resizeImage1 {
  width: 12px;
  height: 12px;
  padding: 20px 20px 12px 20px;
}
.readMore {
  margin-top: -3px !important;
  line-height: 1.4 !important;
}

.isCollapsed {
  width: 92%;
}

.cb {
  clear: both;
  height: 0;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;

}
